.section-1 {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 1.4rem;
}

@media screen and (min-width: 768px) {
    .section-1 {
        flex-direction: row;
    }
}

@media screen and (max-width: 300px) {
    .btn-flex {
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .btn-flex .btn:nth-child(1) {
        margin-bottom: 1rem;
    }

    .btn {
        width: 100%;
    }
}